<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A layout example that shows off a responsive email layout.">
  <title>Email &ndash; Layout Examples &ndash; Pure</title>
  <link rel="stylesheet" href="assets/css/pure-min.css">
  <link rel="stylesheet" href="assets/css/highlight.css">
  <link rel="stylesheet" href="assets/css/idra.css">
</head>
<body>
{{ content }}
<script src="/assets/js/vue.min.js"></script>
<script src="/assets/js/app.js"></script>
<script>init({% for item in site.pages %} {% unless item.dir contains "snippets" %} {% continue %} {% endunless %}
  ['{{ item.title }}', '{{ item.url }}', '{{ item.path }}', '{{ item.dir | remove: "/" | remove: "snippets" }}'], {% endfor%}
0 )</script>
</body>
</html>
